
.content {
    grid-area: c;
    /*background-color: #68b3a4;*/
}

.avatar_img {
    width: 200px;
}


.header_img {
    width: 100vw;
}

.postsBlock {
    padding: 10px;
}

textarea, button {
    display: block;
    margin-bottom: 10px;
}