.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h "
    "n c ";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 5fr;
    grid-gap: 10px;
    width: 100vw;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #00d9ff;
}

